* {
	margin: 0px; padding: 0px;
}
body {
	margin: 0px; padding: 0px; color: rgb(102, 102, 102); font-family: "Dotum", Arial,serif; font-size: 1rem;
}
a {
	color: rgb(102, 102, 102); text-decoration: none;
}
a:hover {
	color: red; text-decoration: none;
}
.clear {
	clear: both;
}
#wrap {
    margin: 0px auto; padding: 0px;
    display : flex;
    flex-direction: column;
    width: 100%;
}
#inner_wrap{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-items: stretch;
}
header {
    position: relative;
    border-bottom: solid 1px black;
}
#header_img img{
    padding: 0;
    width: 100%;
    height: 150px;
    opacity: 0.5;
}
#header_text{
    color: black; font-size: 3rem; font-weight: bold; text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
	left: 50%;
    transform: translate( -50%, -50% );
    pointer-events: none;
}
aside {
    flex-basis: 250px; border-right: solid 1px black;
    min-height: 750px;
}
nav {
	font-size: 1rem;
}
nav h1{
    background-color: skyblue; font-weight: bold;
    padding:10px; margin-left: -5px;
}
nav ul {
    list-style: none; padding-top:10px; padding-bottom: 10px;
}
nav ul li {
    padding: 5px 20px; text-transform: uppercase;
    font-size: 1rem;
}
article {
    border-left: black solid 1px; margin-left: -1px;
    flex-grow: 1;
    padding: 20px;
}
article *{
    font-size: 1rem;
    margin-bottom: 10px;
    padding: 5px;
}
article h1{
    font-size: 1.5rem;
}
#login {
    position: absolute;
    margin: 0 auto;
    text-align: center;
    width: 450px;
    border: black 2px solid;
    padding: 30px;
    top: 50%;
	left: 50%;
    transform: translate( -50%, -50% );
}
#login *{
    position: relative;
    height: auto;
    margin: 10 auto;
}
table{
    text-align: center;
    width: 100%;
    height: auto;
    border: solid black 2px;
    border-collapse: collapse;
}
table *{
    margin : 0 auto;
}
tr, td, th{
    border: solid black 2px;
    padding: 10px;
}
td{
    font-size: 1rem;
}
thead{
    background-color: skyblue;
    border-bottom: black solid 4px;
}

footer {
    padding:30px; font-size: 1rem; background-color: skyblue; text-align: center;
    font-weight: bold;
    border-top: solid black 1px;
    height: auto;
}
#suggest{
    display:none; position: absolute; border: 0.1px  solid #87cb42;font-weight: bold;background-color:#ffffff; 	
        
    }